# Ignore following directories
**/data
**/mypython
**/plots
**/tables
**/.DS_Store
*-checkpoint.ipynb
**/.ipynb_checkpoints
notebooks/.ipynb_checkpoints/*
**/tmp_files/*
**/.Rhistory
**/.snakemake
*test*e
**/._*
**/__pycache__
