# Ignore following directories
**/data
**/mypython
**/plots
**/tables
**/.DS_Store
*-checkpoint.ipynb
**/.ipynb_checkpoints
notebooks/.ipynb_checkpoints/*
notebooks/stats
notebooks/tmp_files
notebooks/*.png
notebooks/*.csv
**/.Rhistory
**/.snakemake
*test*e
**/._*
**/__pycache__
experiments/**/cat
experiments/**/plt
experiments/**/tcr
experiments/**/brc
experiments/**/raw
experiments/**/mhc
experiments/**/res
experiments/**/done.ok

experiments/exp13/run1_archive
experiments/exp13/run2_archive
experiments/exp13/run1/tcr_a
experiments/exp13/run3
experiments/exp15
