# Ignore following directories
**/.DS_Store
*-checkpoint.ipynb
**/.ipynb_checkpoints
**/.Rhistory
**/Rplots.pdf
**/.snakemake
*test*e
**/._*
**/__pycache__

experiments/**/cat
experiments/**/plt
experiments/**/tcr
experiments/**/brc
experiments/**/raw
experiments/**/mhc
experiments/**/res
experiments/**/done.ok

